.screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: brightness(80%);
  opacity: 0.7;
}

.main {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row-gap: -1%;
  justify-content: center;
  margin-top: 1%;
}

.smallPaper {
  width: 280px;
  height: 370px;
  background-image: url("../../Common/img/smallPaper.png");
  background-repeat: no-repeat;
}

.card {
  position: fixed;
  height: 145px;
  width: 390px;
  background-color: white;
  border-top: 8px rgb(113, 183, 240) solid;
  box-shadow: 4px 7px 21px 14px rgba(34, 60, 80, 0.23);
  z-index: 100;
  text-align: center;
  padding-top: 30px;
}
.card:nth-child(1) {
  animation: firstToLast 0.7s 0s ease forwards,
    firstToSecond 0.7s 1.2s ease forwards, firstToFirst 0.7s 2.1s ease forwards;
}
.card:nth-child(2) {
  margin-left: 50%;
  margin-top: 440px;
  animation: secondToLast 0.7s 1s ease backwards,
    secondToSecond 0.7s 2.1s ease forwards;
}
.card:nth-child(3) {
  margin-left: 36%;
  margin-top: 440px;
  animation: lastToLast 0.7s 1.9s ease backwards;
}

@keyframes firstToLast {
  0% {
    margin-left: 36%;
    margin-top: 1000px;
  }
  100% {
    margin-left: 36%;
    margin-top: 440px;
  }
}
@keyframes secondToLast {
  0% {
    margin-left: 50%;
    margin-top: 1000px;
  }
  100% {
    margin-left: 50%;
    margin-top: 440px;
  }
}
@keyframes firstToSecond {
  0% {
    margin-left: 36%;
    margin-top: 440px;
  }
  100% {
    margin-left: 36%;
    margin-top: 240px;
  }
}

@keyframes lastToLast {
  0% {
    margin-left: 36%;
    margin-top: 1000px;
  }
  100% {
    margin-left: 36%;
    margin-top: 440px;
  }
}
@keyframes firstToFirst {
  0% {
    margin-left: 36%;
    margin-top: 240px;
  }
  100% {
    margin-left: 36%;
    margin-top: 50px;
  }
}
@keyframes secondToSecond {
  0% {
    margin-left: 50%;
    margin-top: 440px;
  }
  100% {
    margin-left: 50%;
    margin-top: 240px;
  }
}

@media (max-width: 800px) {
  .card {
    width: 300px;
    height: 100px;
    padding-top: 20px;
  }
  .card:nth-child(1) {
    animation: firstToLast2 0.7s 0s ease forwards,
      firstToSecond2 0.7s 1.2s ease forwards,
      firstToFirst2 0.7s 2.1s ease forwards;
  }
  .card:nth-child(2) {
    margin-left: 21%;
    margin-top: 380px;
    animation: secondToLast2 0.7s 1s ease backwards,
      secondToSecond2 0.7s 2.1s ease forwards;
  }
  .card:nth-child(3) {
    margin-left: 5%;
    margin-top: 357px;
    animation: lastToLast2 0.7s 1.9s ease backwards;
  }
}

@keyframes firstToLast2 {
  0% {
    margin-left: 5%;
    margin-top: 1000px;
  }
  100% {
    margin-left: 5%;
    margin-top: 380px;
  }
}
@keyframes secondToLast2 {
  0% {
    margin-left: 21%;
    margin-top: 1000px;
  }
  100% {
    margin-left: 21%;
    margin-top: 380px;
  }
}
@keyframes firstToSecond2 {
  0% {
    margin-left: 5%;
    margin-top: 380px;
  }
  100% {
    margin-left: 5%;
    margin-top: 200px;
  }
}

@keyframes lastToLast2 {
  0% {
    margin-left: 5%;
    margin-top: 1000px;
  }
  100% {
    margin-left: 5%;
    margin-top: 357px;
  }
}
@keyframes firstToFirst2 {
  0% {
    margin-left: 5%;
    margin-top: 200px;
  }
  100% {
    margin-left: 5%;
    margin-top: 50px;
  }
}
@keyframes secondToSecond2 {
  0% {
    margin-left: 21%;
    margin-top: 380px;
  }
  100% {
    margin-left: 21%;
    margin-top: 200px;
  }
}
