.eventContainer {
  margin-left: 5%;
  width: 90%;
  background-repeat: no-repeat;
  background-size: inherit;
  border-radius: 16px;
  padding-bottom: 1px;
  margin-bottom: 5%;
  background-color: #eeeeee;
}
.eventContainer:hover {
  background-color: white;
}
.delete {
  cursor: pointer;
  margin-right: 7%;
  padding-left: 80%;
}
.controllButton {
  color: black;
  font-size: 40px;
  cursor: pointer;
}
.body {
  font-size: 28px;
  margin-left: 2%;
  font-family: "Courier New", Courier, monospace;
}
.header {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  padding-top: 10px;
}
.createProject {
  height: 1%;
  width: 15%;
  font-size: 23px;
  margin-left: 40%;
  margin-bottom: 2%;
}
.filter {
  width: 40%;
  margin-left: 27%;
}
.pagination {
  display: flex;
  margin-left: 6%;
  padding-bottom: 2%;
  width: 88%;
}
.rightButton {
  margin-left: 95%;
}

img {
  width: 60%;
  margin-left: 10%;
  margin-bottom: 2%;
}
@media (max-width: 1000px) {
  .header {
    font-size: 35px;
  }
  .body {
    font-size: 26px;
  }
  .controllButton {
    font-size: 30px;
  }
}
@media (max-width: 925px) {
  .createProject {
    font-size: 17px;
  }
  .delete {
    margin-left: 0%;
  }
}

@media (max-width: 730px) {
  .header {
    font-size: 40px;
  }
  .body {
    margin-left: 4%;
    font-size: 20px;
  }
  .eventContainer {
    margin-left: 8%;
  }
  .pagination {
    width: 80%;
  }
  .createProject {
    font-size: 15px;
    margin-bottom: 3%;
  }
}
@media (max-width: 580px) {
  .eventContainer {
    margin-left: 7%;
  }
  .createProject {
    font-size: 15px;
    width: 25%;
    margin-left: 35%;
  }
  .controllButton {
    font-size: 15px;
  }
}
@media (max-width: 475px) {
  .header {
    font-size: 27px;
  }
  .body {
    margin-left: 4%;
    font-size: 20px;
  }
  .eventContainer {
    margin-left: 5%;
  }
}
@media (max-width: 450px) {
  .header {
    font-size: 23px;
  }
  .body {
    margin-left: 4%;
    font-size: 18px;
  }
  .eventContainer {
    margin-left: 4%;
  }
  .pagination {
    width: 75%;
  }
  .filter {
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10%;
  }
  .createProject {
    width: 27%;
    margin-left: 31%;
    margin-bottom: 7%;
    margin-top: -50px;
  }
  .leftButton {
  }
}
