@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.App {
  background-color: rgb(122, 228, 140);
  width: 100%;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}
.helpers {
  margin-left: 80%;
  padding-top: 20px;
}
html {
  overflow-x: hidden;
}
