@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}
.helpers {
  margin-left: 80%;
  padding-top: 20px;
}
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
::-webkit-scrollbar {
  width: 0;
}
